*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(0, 0, 0);

}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer{
    height: 770px;
    width: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container h1{
    font-size: 50px;
    color: rgb(205, 183, 20);
}
.card{
    margin-top: 20px;
    height: 400px;
    width: 300px;
    /* border: 1px solid red; */
    box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
    background-color: rgb(132, 135, 135);
    border-radius: 15px;
    word-wrap: break-word;
}
h3{
    margin: 15px;
}
#review{
    margin: 15px;
}

button{
    padding: 10px 20px;
    margin-top: 5px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: rgb(4, 52, 36);
    cursor: pointer;
}
label{
    margin-top: 15px;
    font-size: 20px;
    color: white;
}
textarea{
    padding: 10px;
    border-radius: 10px;
}